%footer.pt-3.pb-3.bg-light
  .container
    .row
      .col
        %small= "© #{Time.now.year} - Tyler Rooney"
        %small.ml-3
          = link_to 'Terms', terms_path
        %small.ml-3
          = link_to 'Privacy', privacy_path