%nav.navbar.navbar-lg.navbar-expand-lg.navbar-transparant.navbar-dark.navbar-absolute.w-100.bg-codelog-dark-gray
  .container.pl-sm-3.pr-sm-3
    %a.navbar-brand{:href => "/"} CodeLog
    %button.navbar-toggler{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon